body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
  cursor: url(images/cursor.ani) , auto ;
}

#nav  {
	width: 100%;
	text-align: center;
}
#nav ul  {
	overflow: hidden;
	width: 596px;
	margin: 0 auto;
}
#nav ul li  {
	float: left;
}
#nav ul li a {
	font-size: 20px;
	display: block;
	width: 108px;
	height: 55px;
	margin: 10px 0 5px 7px;
	padding: 1px 2px;
	line-height: 1.4;
	color: #ffffff;
	background: #9fb7d4;
	text-align: center;
}
#nav ul li a:hover {
	color: #ffffff;
	background: #afc6e2;
}


h1 {
  font-size: 5em ;
  color: #fff ;
  margin: 30 ;
}
h4 {
  font-size: 2.3em;
  color: #fff ;
  margin: 30 ;
}
h3 {
  font-size: 3em ;
  color: #fff ;
  margin:30 ;
}
h5 {
  font-size: 1.8em ;
  color: #fff ;
  margin: 30 ;
}
.aboutme a {
  text-decoration: none;
}
.aboutme a:hover {
  color: #FE9A2E;
}
.intro p {
  font-size: 1.5em ;
  color: #fff ;
}
.releases {
  font-size: 1.5em ;
}
.col-sm-6 p {
  color: #fff ;
}
.copyright  {
  font-size: 1.5em ;
  color: #fff ;
}

.section,
.slide{
  -webkit-background-size: cover;
  background-size: cover;
  text-align:center ;
}

.description  {
  font-size: 1.5em ;
}
.radius-img {
  backgroud: #ccc ;
  border: solid 1px #000 ;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  border-radius: 10px ;
  width: 100% ;
}

.xs-size {
  font-size: 0.6em ;
}

.xs-sze .xs-size-modal {
  font-size: 0.7em;
}

.xs-dl {
  font-size: 1.7em ;
  text-align: left ;
}

.dl-sm {
  color: #fff ;
  font-size: 1.2em ;
}

.description-xs {
  font-size: 0.8em ;
}

.container-xs {
  padding: 15px;
  margin: auto;
}

@media (min-width: 568px) {
  .container-xs {
    height: 100%px;
    width: 50%;
    padding: 15px;
    margin: auto;
  }

  .col-vxs-12 {
    width: 100% ;
  }
  .col-vxs-6 {
    width: 50% ;
  }
}


/*---------------------------------------------

fullPage.js css override

---------------------------------------------*/

#fp-nav ul li a span,
.fp-slidesNav ul li a span{
  background: transparent;
  border: 1px solid #fff;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span{
  background: #fff;
}

.fp-controlArrow.fp-prev {
    left: 8px;
    width: 0;
    border-width: 12px 9px 12px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 8px;
    border-width: 12px 0 12px 9px;
    border-color: transparent transparent transparent #fff;
}


/*---------------------------------------------

section override

---------------------------------------------*/
#sec_Signal{
  background-image:url(../img/signal/ance_entrance_1.png);
  color: #fff;
}
#sec_Signal a {
  color: yellow;
  text-decoration: none;
}
#sec_Signal a:hover,
#sec_Signal a:focus {
  color: orange;
  text-decoration: underline;
}

#sec_SSS{
  background-image:url(../img/sss/back_1.jpg);
  color: #fff;
}

#sec_Houselab{
  background-image:url(../img/houselab/back.jpg);
  color: #fff ;
}
#sec_Houselab a {
  color: yellow;
  text-decoration: none;
}
#sec_Houselab a:hover,
#sec_Houselab a:focus {
  color: orange;
  text-decoration: underline;
}

#sec_VA{
  color: #fff;
}

