/*--------------------------------------
for iphone6 vertical
----------------------------------------*/
@media (max-width: 378px) {
	#title_logo img{
		width: 50%;
	}
	.bnr a img {
		width: 80%;
		padding-bottom: 5px;
		opacity: 1;
	}
	.container-xs {
		height: 100%px;
		width: 90%;
		padding: 5px;
		margin: auto;
	}

	.visible-vxs {
		display: block !important;
	}
	.hidden-vxs{
		display: none !important;
	}
	.navbar-brand {
		padding: 5px 5px;
	}
	.navbar-brand img{
		height: 35px;
	}
}

/*--------------------------------------
for iphone6 horizontal
----------------------------------------*/
/*@media (min-width: 667px) {
	.container-xs {
		height: 100%px;
		width: 50%;
		padding: 5px;
		margin: auto;
	}

	.col-vxs-12 {
	  width: 100% ;
	}
	.col-vxs-6 {
	  width: 50% ;
	}
	.navbar-brand img{
	  height: 50px;
	}

}*/



